@charset "utf-8";
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

@mixin cf{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

$break-small: 768px;

@mixin device-desktop() {
  @content;
}
@mixin device-mobile() {
  @media screen and (max-width: $break-small) {
    @content;
  }
}

*{
  box-sizing: border-box;
}
::selection {
    background: #d21c1c;
    color: #fff;
}

body {
  font-size: 14px;
  font-family: "-apple-system", "Helvetica Neue", "游ゴシック体", "Yu Gothic", YuGothic, Meiryo, "Hiragino Kaku Gothic ProN", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.brdr{
  position: absolute;
  z-index: 100;
  background-color: #d21c1c;
  margin: 20px 12px;
  transition: all 0.66s ease-in-out;
  -webkit-transition: all 0.66s ease-in-out;
}
.brdr-t{
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  &.st{
    right: 100%;
  }
}
.brdr-r{
  top: 0;
  right: 0;
  bottom: 0;
  width: 7px;
  &.st{
    top: 100%;
  }
}
.brdr-b{
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  &.st{
    left: 100%;
  }
}
.brdr-l{
  top: 0;
  left: 0;
  bottom: 0;
  width: 7px;
  &.st{
    bottom: 100%;
  }
}
.main{
  position: relative;
  background: url("/images/main_image1.jpg") center;
  background-size: cover;
}

.share{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  background-color: #fff;
  text-align: center;
  ul{
    @include cf;
    margin-top: 5px; 
    display: inline-block;
    li{
      float: left;
      &:first-child{
        margin-right: 10px;
      }
    }
  }
}

@include device-desktop() {
  .mobile{
    display: none;
  }

  .main{
    height: 100vh;
    .title{
      position: absolute;
      top: 72%;
      left: 7%;
      padding: 10px 16px 0 0;
      font-size: 4rem;
      font-family: 'Crimson Text', serif;
      font-style: italic;
      color: #d21c1c;
      transition: 1.2s;
      opacity: 0;
      letter-spacing: 3px;
      span{
        display: inline-block;
      }
      .my {
        margin-bottom: 12px
      }
      &.change{
        opacity: 1;
      }
    }
    .catch{
      position: absolute;
      top: 68%;
      left: 7%;
      padding: 4px;
      font-size: 16px;
      font-style: italic;
      letter-spacing: 2px;
      transition: 0.9s;
      &.change{
        background-color: #d21c1c;
        color: #fff;
      }
    }
  }

  .subject{
    padding: 30px 0 20px;
    font-family: 'Crimson Text', serif;
    font-size: 1.4rem;
    letter-spacing: 0.6px;
  }

  .lower{
    @include cf;
    background-color: #d21c1c;
    color: #fff;
    .content{
      width: 768px;
      margin: 0 auto;
      line-height: 1.5;
    }
  

    .information{
      padding-top: 50px;
      .concept{
        padding-bottom: 20px;
      }
      .product{
        padding-bottom: 20px;
      }
      .place{
        padding-bottom: 20px;
      }
      .note{
        font-size: 0.75rem;
        a{
          color: #fff;
        }
      }
    }

    .gallary{
      padding: 50px 0;
    }

    .staff{
      padding-bottom: 50px;
      .subtitle{
        padding-bottom: 10px;
      }
      .cosplay, .photo{
        padding-bottom: 20px;
      }

      p+p{
        padding-top: 5px;
      }

      a{
        color: #fff;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
          background-color: rgba(255,255,255,0.6);
        }
      }
    }
  }
  
  .footer{
    padding: 20px 60px 22px;
    background-color: #030303;
    color: #fafafa;
    font-size: 0.65rem;
    .content{
      width: 768px;
      margin: 0 auto;
    }
    small{
      line-height: 1.45;
    }
  }
}

@include device-mobile() {
  .main{
    height: 90vh;
    margin-bottom: 10vh;

    .title{
      position: absolute;
      top: auto;
      bottom: -5vh;
      left: 5.5vw;
      font-size: 4rem;
      line-height: 4.8rem;
      .my {
        margin-bottom: 9px
      }
      span{
        display: inline-block;
        padding-right: 22px;
        margin-bottom: 4px;
      }
    }

    .catch{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 250px;
      height: 28px;
      margin: auto;
      font-size: 1rem;
      font-style: italic;
      letter-spacing: 2px;
      transition: 0.6s;
      &.change{
        top: auto;
        left: -7vw;
        right: auto;
        bottom: -6vh;
        background-color: #d21c1c;
        color: #fff;
        transform: scale(0.65);
        -webkit-transform: scale(0.65);
      }
    }
  }

  .mobile{
    display: block;
  }
  
  .subject{
    padding: 0 0 20px;
    font-family: 'Crimson Text', serif;
    font-size: 1.4rem;
    letter-spacing: 0.6px;
  }
  
  .lower{
    .content{
      width: auto;
      margin: auto;
    }
    .information{
      padding: 40px;
    }

    .gallary{
      padding: 0;
    }

    .staff{
      padding: 40px;
    }
  }

  .information{
    padding: 40px;
    background-color: #d21c1c;
    color: #fff;
    line-height: 1.25;
    .concept{
      padding-bottom: 20px;
    }
    .product{
      padding-bottom: 20px;
    }
    .place{
      padding-bottom: 20px;
    }
    .note{
      font-size: 0.75rem;
      a{
        color: #fff;
      }
    }
  }

  .gallary{
    position: relative;
    .subject{
      position: absolute;
      top: 20px;
      left: 40px;
      z-index: 10000;
      padding: 5px 3px 0;
      color: #fff;
      background-color: #d21c1c;
    }
  }

  .staff{
    padding: 40px;
    background-color: #d21c1c;
    color: #fff;
    line-height: 1.25;

    .subtitle{
      padding-bottom: 10px;
    }
    .cosplay, .photo{
      padding-bottom: 20px;
    }

    p+p{
      padding-top: 5px;
    }

    a{
      color: #fff;
      text-decoration: none;
    }
  }


  .footer{
    padding: 20px;
    background-color: #030303;
    color: #fafafa;
    font-size: 0.75rem;
    .content{
      width: auto;
      margin: auto;
    }
    small{
      line-height: 1.45;
    }
  }
}

