@charset "utf-8";
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

@mixin cf{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

$break-small: 768px;

@mixin device-desktop() {
  @content;
}
@mixin device-mobile() {
  @media screen and (max-width: $break-small) {
    @content;
  }
}

body {
  font-family: "-apple-system", "Helvetica Neue", "Yu Gothic", YuGothic, Meiryo, "Hiragino Kaku Gothic ProN", Verdana, sans-serif;
}

@include device-desktop() {
  
  .footer{
    padding: 20px 60px 22px;
    background-color: #030303;
    color: #fafafa;
  }
}

@include device-mobile() {
  
  .footer{
    background-color: #030303;
    color: #fafafa;
  }
}

