@charset "utf-8";
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

@mixin cf{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

$break-small: 768px;

@mixin device-desktop() {
  @content;
}
@mixin device-mobile() {
  @media screen and (max-width: $break-small) {
    @content;
  }
}

*{
  box-sizing: border-box;
}
::selection {
    background: #2e41af;
    color: #fff20f;
}

body {
  font-size: 14px;
  font-family: "-apple-system", "Helvetica Neue", "游ゴシック体", "Yu Gothic", YuGothic, Meiryo, "Hiragino Kaku Gothic ProN", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.brdr{
  position: fixed;
  background-color: #ff77ff;
  margin: 12px;
}
.brdr-t{
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
}
.brdr-r{
  top: 0;
  right: 0;
  bottom: 0;
  width: 3px;
}
.brdr-b{
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
}
.brdr-l{
  top: 0;
  left: 0;
  bottom: 0;
  width: 3px;
}
.main{
  height: 90vh;
  margin-bottom: 10vh;
  background: url("/images/main_image1.jpg") center;
  background-size: cover;
}

@include device-desktop() {
  .mobile{
    display: none;
  }
  
  .footer{
    padding: 20px 60px 22px;
    background-color: #030303;
    color: #fafafa;
  }
}

@include device-mobile() {
  .main{
    position: relative;
    .catch{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      height: 20px;
      margin: auto;
      font-size: 20px;
      font-style: italic;
      letter-spacing: 2px;
    }
  }

  .mobile{
    display: block;
  }
  
  .subject{
    padding-bottom: 20px;
    font-size: 1.4rem;
    letter-spacing: 0.6px;
  }

  .information{
    padding: 40px;
    background-color: #0000EE;
    color: #fff;
    line-height: 1.25;
    .concept{
      padding-bottom: 20px;
    }
    .product{
      padding-bottom: 20px;
    }
    .place{
      padding-bottom: 20px;
    }
    .note{
      font-size: 0.75rem;
      a{
        color: #fff;
      }
    }
  }

  .gallary{
    position: relative;
    .subject{
      position: absolute;
      top: 40px;
      left: 40px;
      z-index: 10000;
      color: #0000EE;
    }
  }

  .staff{
    padding: 40px;
    background-color: #1010A1;
    color: #fff;
    line-height: 1.25;

    .subtitle{
      padding-bottom: 10px;
    }
    .cosplay, .photo{
      padding-bottom: 20px;
    }

    p+p{
      padding-top: 5px;
    }

    a{
      color: #fff;
      text-decoration: none;
    }
  }

  .footer{
    padding: 20px;
    background-color: #030303;
    color: #fafafa;
    font-size: 0.75rem;
    small{
      line-height: 1.45;
    }
  }
}

