---
title: Change My Blood - NGPR
---


<div class="main-wrapper">
<div class="border">
  <div class="outer-border"><span class="inner-border"></span></div>
</div>
<section class="main">
  <h1 class="title"><span>Change </span><br><span class="my">My </span><br><span>Blood</span></h1>
  <h2 class="catch">物語は変わり、そして進む ― </h2>
</section>
<div class="yohaku"></div>
</div>

<div class="lower"><div class="content">
<section class="information">
  <div class="wrapper">
  <h2 class="subject">- INFORMATION</h2>
  <div class="concept">
    <p>鉄血にして、熱血にして…<br>傷物語、キスショットのコスプレ写真集です。</p>
  </div>
  <div class="product">
    <p>フルカラー A4 / 28ページ ： 1,000円 R15+</p>
  </div>
  <div class="place">
    <p class="day">2016年8月13日 コミックマーケット90 2日目</p>
    <p class="circle">東3ホール コ12a 「NGPR」</p>
  </div>
  <div class="note">
    <p>※印刷部数が少ないので、当日お手に取っていただける方はお取り置きします。お手数ですが、Twitter（<a href="//twitter.com/koki414" target="_blank">@koki414</a>）のリプライまたはDMにて一言ご連絡ください。</p>
  </div>
  </div>
</section>

<section class="gallary">
  <h2 class="subject">- GALLARY</h2>
  <div class="slider">
    <div><img src="/images/slide_image1.jpg" width="100%"></div>
    <div><img src="/images/slide_image2.jpg" width="100%"></div>
    <div><img src="/images/slide_image3.jpg" width="100%"></div>
    <div><img src="/images/slide_image4.jpg" width="100%"></div>
    <div><img src="/images/slide_image5.jpg" width="100%"></div>
  </div>
</section>

<section class="staff">
  <h2 class="subject">- CREDIT</h2>
  <div class="cosplay">
    <h3 class="subtitle">cosplay</h3>
    <p>キスショット・アセロラオリオン・<br class="mobile">ハートアンダーブレード：こおき<br><a href="//twitter.com/koki414" target="_blank">Tw</a> / <a href="http://worldcosplay.net/member/373833/cosplayer/photos">Cure</a></p>
  </div>
  <div class="photo">
    <h3 class="subtitle">photo</h3>
    <p>ぺろ　<a href="//twitter.com/PeroWorlds" target="_blank">Tw</a></p>
    <p>ゆうろ　<a href="//twitter.com/yuuro_n" target="_blank">Tw</a></p>
  </div>
  <div class="web">
    <h3 class="subtitle">web</h3>
    <p>ふじいたかし　<a href="//twitter.com/fujii_takashi_" target="_blank">Tw</a></p>
  </div>
</section>
</div></div>

<section class="share">
  <ul class="sns">
    <li class="tw"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://change.but.jp/" data-text="物語は変わり、そして進むー Change My Blood ｜傷物語、キスショットのコスプレ写真集 C90 2日目
東3ホール コ12a 「NGPR」" data-count="none">Tweet</a></li>
    <li class="fb"><div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
  </ul>
</section>

<footer class="footer"><div class="content">
  <p>
    <small class="cpr">Copyright © 2016 NGPR All Rights Reserved.</small><br>
    <small>本作品は個人で作られた二次創作物です。原作・アニメ・出版社・その他関係者様とは一切関係がありません。</small>
  </p>
</div></footer>
