---
title: NGPR 
---

<section class="main">
  <h1 class="title"></h1>
  <h2 class="catch">物語は変わり、そして進むー</h2>
</section>

<section class="information">
  <h2>製品情報</h2>
  <div class="concept">
    <p>鉄血にして、熱血にして…<br>傷物語、キスショットのコスプレ写真集です。</p>
  </div>
  <div class="product">
    <p>フルカラー A4 / 28ページ ： 1,000円</p>
  </div>
  <div class="place">
    <p class="day">2016年8月13日 コミックマーケット90 2日目</p> 
    <p class="circle">東3ホール コ12a 「NGPR」</p>
  </div>
  <div class="note">
    <p>※印刷部数が少ないので、当日お手に取っていただける方はお取り置きします。お手数ですが、Twitter(<a href="#">@koki414</a>)のリプライまたはDMにて一言ご連絡ください。</p>
  </div>
</section>

<section class="staff">
  <h2>スタッフ</h2>
  <div class="cosplay">
    <h3>cosplay</h3>
    <p>キスショット・アセロラオリオン・ハートアンダーブレード：こおき</p> 
  </div>
  <div class="photo">
    <h3>photo</h3>
    <p>ぺろ</p>
    <p>ゆうろ</p>
  </div>
  <div class="web">
    <h3>web</h3>
    <p>ふじいたかし</p>
  </div>
</section>

<footer class="footer">
  <small>Copyright © 2016 NGPR All Rights Reserved.<br>本作品は個人で作られた二次創作物です。原作・アニメ・出版社・その他関係者様とは一切関係がありません。</small>
</footer>