---
title: 13×SPEED - NGPR
---


<div class="main-wrapper">
<section class="main">
  <h1 class="title"><span>13×SPEED</span></h1>
  <div class="semitra-cover"></div>
</section>
</div>

<div class="lower"><div class="content">
<section class="information">
  <div class="wrapper">
  <h2 class="subject">インフォメーション</h2>
  <div class="concept">
    <p>おそ松さんの、おそ松×チョロ松のコスプレ写真集です。</p>
    <p><br>事前予約および後日通販無し。<br>65冊先着順配布です。</p>
  </div>
  <div class="product">
    <p>A5 / 24ページ</p>
    <p class="price">価格：10円</p>
  </div>
  <div class="place">
    <p class="day">2017年8月11日<br>コミックマーケット92 1日目</p>
    <p class="circle">東***ホール **** 「NGPR」</p>
  </div>
  <div class="note">
    <p>当日はスペースに貯金箱を設置しています、おつりは用意していませんのでご注意ください。<br>またその他の既刊情報や、当日の詳細および在庫状況に関しては<a href="//twitter.com/koki414" target="_blank">Twitter</a>にてご確認お願いします。</p>
  </div>
  </div>
</section>

<section class="notes">
  <img src="/images/notes.jpg" alt="注意書き♡" width="100%">
</section>

<section class="staff">
  <h2 class="subject">クレジット</h2>
  <div class="cosplay">
    <h3 class="subtitle">cosplay</h3>
    <p>おそ松：こおき（<a href="//twitter.com/koki414" target="_blank">@koki</a>） </p>
    <p>チョロ松：璃波（<a href="//twitter.com/rinamini" target="_blank">@rinamini</a>）</p>
  </div>
  <div class="photo">
    <h3 class="subtitle">photo</h3>
    <p>七海ソラ（<a href="//twitter.com/sora_nanami" target="_blank">@sora_nanami</a>）</p>
    <p>ぺろ（<a href="//twitter.com/PeroWorlds" target="_blank">@PeroWorlds</a>）</p>
  </div>
  <div class="web">
    <h3 class="subtitle">website</h3>
    <p>ふじいたかし（<a href="//twitter.com/fujii_takashi_" target="_blank">@fujii_takashi_</a>）</p>
  </div>
</section>
</div></div>

<section class="share">
  <ul class="sns">
    <li class="tw"><a href="https://twitter.com/share" class="twitter-share-button" data-url="******" data-text="******" data-count="none">Tweet</a></li>
    <li class="fb"><div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
  </ul>
</section>

<footer class="footer"><div class="content">
  <p>
    <small class="cpr">Copyright © 2017 NGPR All Rights Reserved.</small><br>
    <small>本作品は個人で作られた二次創作物です。原作・アニメ・出版社・その他関係者様とは一切関係がありません。</small>
  </p>
</div></footer>
